.DS_Store
.subset_fasta
OG0002993.fa
bla.nim
combined-transcript-sequences.fasta
docs/
htmldocs/
src/.DS_Store
src/nimbio.out
src/nimbio/.DS_Store
subset_fasta.nim
tests/FastaIO_test
tests/TreeIO_test
tests/phylo.tre
tests/test_FastaIO
tests/test_data/M_abscessus_HiSeq_10M.fa
tests/test_kmer_count
tests/test_phylo
tests/test_read_fasta
tests/test_read_fastq
tmp/
